@font-face {
    font-family: "Myriad";  
    src: url("../fonts/MyriadPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Myriad Bold";  
    src: url("../fonts/MyriadPro-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Myriad Semibold";  
    src: url("../fonts/MyriadPro-Semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}